@page "/radio"
@using BlazorApp1.Dtos

@namespace BlazorApp1.Pages

<SmartRadioGroup Name="Group" TValue="string" @bind-Value="Selectedvalue">
    <SmartRadio Label="First radio" Value="XX" TValue="string"></SmartRadio>
    <SmartRadio Label="Second radio" Value="X" TValue="string"></SmartRadio>
</SmartRadioGroup>

@SelectedCountry?.Code @SelectedCountry?.Name

<BlazorApp1.Shared.Radio.SmartRadioGroup @bind-Value="Model.SelectedCountry"  TValue="Country"  >
    @foreach(var country in _countries)
    {
        <p><BlazorApp1.Shared.Radio.SmartRadio Value="country" Label="@country.Name"  ></BlazorApp1.Shared.Radio.SmartRadio> </p>
    }
</BlazorApp1.Shared.Radio.SmartRadioGroup>


@Model.Selected
<EditForm Model="Model">
    <InputRadioGroup @bind-Value="Model.Selected" >
        @foreach(var country in _countries)
        {
            <p><InputRadio id="@country.Code" Value="country.Code"></InputRadio><label for="@country.Code">@country.Name</label> </p>
        }
    </InputRadioGroup>
</EditForm>
